<section class="navbar navbar-expand-md navbar-dark bg-dark">
  <button
    (click)="toggleCollapse()"
    class="navbar-toggler navbar-toggler-right"
    type="button"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="show">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">Auswahl2</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-warning">Filter</button>
      </li>
    </ul>
  </div>
</section>

<!-- Loading Spinner -->
<div class="spinner text-center justify-content-center align-items-center" *ngIf="isLoading == true">
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <h2 class="d-block mt-3">Loading...</h2>
</div>

<!-- Table -->
<table class="table table-striped" *ngIf="isLoading == false">
  <thead>
    <tr>
      <th scope="col">Linie</th>
      <th scope="col">Gültigkeit</th>
      <th scope="col">Bereich</th>
      <th scope="col">Datum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="collectionSize == 0">
      <td class="text-center" colspan="4" >Keine Meldungen vorhanden</td>
    </tr>
    <tr
      *ngFor="let element of tableElements; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <th>
        <img
          [src]="'./assets/images/bvg-logo-small.png'"
          class=""
          style="width: 20px;"
        />
        <!--<img [src]="'./assets/images/bvg-logo-small.png' + element.linie" class="mr-2" style="width: 20px">-->
        {{ element.linie }}
      </th>
      <td>{{ element.verkehrsmittel | number }}</td>
      <td>{{ element.verkehrsmittel | number }}</td>
    </tr>
  </tbody>
</table>
<!-- Pagination -->
<ngb-pagination
  *ngIf="collectionSize != 0 && isLoading == false"
  class="d-flex justify-content-center"
  [collectionSize]="collectionSize"
  [maxSize]="5"
  [(page)]="selectedPage"
  [pageSize]="pageSize"
>
</ngb-pagination>
