<!-- Suche in der Tabelle-->
<div class="filter-input input-group" *ngIf="isLoading == false && !errorMsg">
  <input class="form-control py-2 border-right-0 border" type="search" value="search" name="tableSearch" [(ngModel)]="filterString" (ngModelChange)="sortTabele()" placeholder="Geben Sie zum Suchen eine Linie, Richtung oder Meldungs-ID an">
  <span class="input-group-append">
      <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
  </span>
</div>

<!-- Loading Spinner -->
<div class="spinner text-center justify-content-center align-items-center" *ngIf="isLoading == true && !errorMsg">
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only">Meldungen werden geladen...</span>
  </div>
  <h2 class="d-block mt-3">Meldungen werden geladen...</h2>
</div>

<!-- Error Message -->
<div class="alert alert-danger" *ngIf="errorMsg">
  <h3>Etwas ist schief gelaufen...</h3>
  <p class="mb-0 font-weight-bold">Fehlermeldung:</p>
  <p>{{errorMsg}}</p>
</div>

<!-- Table -->
<div class="table-responsive-sm">
<table class="table table-striped d-t" *ngIf="isLoading == false && !errorMsg">
  <thead>
    <tr>
      <th class="text-center" scope="col">Linie</th>
      <th class="text-left" scope="col">Richtung</th>
      <th class="text-left breakp-hide" scope="col">Ursache</th>
      <th scope="col">Meldungsdatum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="collectionSize == 0">
      <td class="text-center" colspan="4">Keine Meldungen vorhanden</td>
    </tr>
    <tr
      *ngFor="let element of tableElements; index as i"
      (click)="openDetailsModal(((+selectedPage-1) * +pageSize) + i)"
      >
      <td scope="row" class="text-center">
        <img
        src="./assets/images/verkehrsmittel-{{element.verkehrsmittel}}.gif"
        />
        <span class="text-center font-weight-bold d-block">
          {{ element.linie }}
        </span>
      </td>
      <td class="text-left align-middle">
        {{ element.richtungName }}
      </td>
      <td class="text-left align-middle breakp-hide">{{ element.textIntUrsache }}</td>
      <td class="text-left align-middle">{{ element.gueltigVonDatum | date: "dd.MM.yyyy" }}</td>
    </tr>
  </tbody>
</table>
</div>

<!-- Pagination -->
<ngb-pagination
  *ngIf="collectionSize != 0 && isLoading == false && !errorMsg"
  class="d-flex justify-content-center"
  [collectionSize]="collectionSize"
  [maxSize]="6"
  [(page)]="selectedPage"
  [pageSize]="pageSize"
>
</ngb-pagination>
