<!-- TODO: make css id for header -->
<!-- Header -->
<header class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">BVG-Verkehrsmeldungen</a>
</header>

<!-- Table filter 
<traffic-messages-filter>
</traffic-messages-filter>
-->

<!-- Main content -->
<traffic-messages-list>
</traffic-messages-list>

<!-- Footer 
<footer id="footer" class="bg-dark">
  <div class="container-fluid">
      <img src="/assets/images/bvg-logo-small.png" height="60" alt="">
  </div>
</footer> -->